.formWrapper{
    height: auto;
    width: auto;
    
}

.NewReview{
    box-shadow: 0 0 20px rgb(155, 155, 155);
    width: 60vw;
    padding-left:  10px;
}

.review-input{
    height: 100px;
    width: 55vw;
}

h3{
    margin: 0%;
}

button{
    background-color: rgb(79, 79, 79);
    border-radius: 8px;
    color: white;
    justify-self: right;
    place-self: right;
}

.star{
    display: inline;
    background-color: white;
}

.star:hover{
    background-color: yellow;
}
