.ProductDetailWrapper{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 75vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr auto auto auto auto 1fr;
    grid-template-areas: 
    '..... .....'
    'img name'
    'img description'
    'img stats'
    'img .....'
    'rating button'
    ;
    place-items: center;
    box-shadow: 0 0 20px rgb(61, 61, 61);
    

}

.ProductImage{
    display: grid;
    grid-area: img;
    background-color: rgb(169, 169, 169);
    height: 40vw;
    width: 100%;
    color: black;
    place-content: center;
    margin-left: 5%;
}

.ProductName{
    display: grid;
    grid-area: name;
    background-color: rgba(94, 94, 94, 0.323);
    width: 85%;
    place-content:center;

}

.ProductDescription{
    display: grid;
    grid-area: description;
    background-color: rgba(94, 94, 94, 0.323);
    width: 85%;
    padding:0%

}
h2{
    padding: 0%;
    margin :0%;
}

.ProductStats{
    display: grid;
    grid-area: stats;
    background-color: rgba(94, 94, 94, 0.323);
    width: 85%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'type age'
    'genre price';
    place-content: center;
    margin-top: 3%;
    column-gap: 2px;
    row-gap: 2px;

}

.AddToCart{
    display: grid;
    grid-area: button;
    background-color: rgb(128, 109, 129);
    width: 70%;
    

}

.ProductAverageRating{
    display: grid;
    grid-area: rating;
    height: 5vh;
    width: 40vw;
    place-content: center;

}
.StatBox{
    display: flex;
    place-self: center;
    background-color: rgb(238, 238, 238);
    width: 100%;
    height: 120%;
}

.Type{
    display: grid;
    grid-area: type;
    width: 100%;
}

.Age{
    display: grid;
    grid-area: age;
}

.Genre{
    display: grid;
    grid-area: genre;
}

.Price{
    display: grid;
    grid-area: price;
}
.ProductStats h3{
    height: fit-content;
}