 .MainWrapper{
    color: black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 45.99px auto;
    grid-template-areas: 
    'search'
    'nav'
    'body'
    ;
    height: 100vh;
    width: 100vw;
}

.header{
    display: grid;
    grid-area: search;
    place-content: left;
    color: azure;
} 

.title{
    height: 2em;
    margin: 0px;
    text-align: left;
}
    


.NavBar{
    grid-area: nav;
}

.Body{
    display: grid;
    grid-area: body;
}