.MainWrapper{
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3em 1.3em auto;
    grid-template-areas: 
    'search'
    'nav'
    'body'
    ;
    height: 100vh;
    width: 100vw;
}

.SearchBar{
    display: grid;
    grid-area: search;
    place-content: center
    ;
}

.Navigation{
    display: grid;
    grid-area: nav;
    place-content: center

}

.Body{
    display:grid;
    grid-area: body;
    place-content: center

}